body
{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.479);
}

.fullSize
{
    height: 60%;
    width: 30%;
    display: flexbox;
    background-color: rgba(255, 255, 255, 0.39);
    margin: auto;
    margin-top: 10%;
    border-radius: 25px;
}

.fullSize .inputs
{
    height: 20%;
    display: block;
    margin: auto;
    padding: 2%;
    margin-bottom: 2%;
}

.fullSize .inputs label
{
    display: grid;
    font-size: 18px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-indent: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.fullSize .inputs input[type="text"]
{
    margin-left: 10%;
    height: 80%;
    width: 80%;
    border-radius: 25px;
    padding-left: 5%;
    background-color: rgba(255, 255, 255, 0.473);
    color: black;
}

.fullSize .inputs input[type="password"]
{
    margin-left: 10%;
    height: 80%;
    width: 80%;
    border-radius: 25px;
    padding-left: 5%;
    background-color: rgba(255, 255, 255, 0.473);
    color: black;
}

.fullSize .inputs input[type="submit"]
{
    margin-top: 10%;
    margin-left: 10%;
    height: 80%;
    width: 80%;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.473);
    color: black;
    font-size: 25px;
    font-weight: bold;
}

h1
{
    display: block;
    padding-top: 5%;
    text-align: center;
}