body
{
    padding: 0;
    margin: 0;
    background-image: url("../Photos/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.full
{
    height: 100vh;
    padding-top: 7%;
}

.fullSize
{
    height: 80%;
    width: 30%;
    display: block;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.808);
    border-radius: 25px;
    padding-top: 3%;
}

.fullSize .inputs
{
    height: 18%;
    display: block;
    margin: auto;
    padding: 2%;
    margin-bottom: 2%;
}

.fullSize .inputs label
{
    display: grid;
    font-size: 18px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-indent: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.fullSize .inputs input[type="text"]
{
    margin-left: 10%;
    height: 80%;
    width: 80%;
    border-radius: 25px;
    padding-left: 5%;
    background-color: rgba(255, 255, 255, 0.473);
    color: black;
    border-radius: 10px;
}

.fullSize .inputs input[type="text"]:focus
{
    background-color: rgb(255, 255, 255);
    color: green;
    font-size: 25px;
    border-radius: 10px;
    border-color: greenyellow;
}

.fullSize .inputs input[type="password"]
{
    margin-left: 10%;
    height: 80%;
    width: 80%;
    border-radius: 10px;    padding-left: 5%;
    background-color: rgba(255, 255, 255, 0.473);
    color: black;
    font-size: 16px;
}

.fullSize .inputs input[type="password"]:focus
{
    background-color: rgb(255, 255, 255);
    color: green;
    font-size: 25px;
    border-radius: 10px;
    border-color: greenyellow;
}

.fullSize .inputs input[type="submit"]
{
    margin-top: 10%;
    margin-left: 10%;
    height: 80%;
    width: 80%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.473);
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.fullSize .inputs input[type="submit"]:hover
{
    background-color: rgb(255, 255, 255);
    color: green;
}

h1
{
    display: block;
    padding-top: 5%;
    text-align: center;
}